.login{
    background-color: #0b121e;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginContainer{
    width: 50%;
    border-radius: 5px;
    box-shadow: 0 0 10px #00000056;
    color: #ffff;
    background-color: #f8f9fa;
}

.loginForm{
    background-color: inherit;
    border-radius: 5px;
    height: 70vh;
    padding: 2vmax;
}

.loginForm > h4 {
    margin: 2vmax;
    letter-spacing: 15px;
    transform: translateX(-100vw);
    display: flex;
    animation: contactFormInput 1s ease-in-out forwards;
    justify-content: center;
    color: #808986;
}

.loginForm>h4>p{
    transition: all 0.5s;
    cursor: default;
}

.loginForm>h4>p:hover{
    transform: translateY(-10px);
}

.loginForm > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2vmax 8vmax;
    box-sizing: border-box;
}

.loginFormInput {
    padding: 1vmax 2vmax;
    margin: 1vmax;
    border: 1px solid #00000031;
    font: 100 1rem 'Roboto';
    transform: translateX(-100vw);
    border-radius: 30px;
    animation: contactFormInput 1s ease-in-out forwards 0.5s;
    outline: none;
    font: 100 1rem 'Roboto';
}

.loginForm > div > button {
    padding: 1vmax 2vmax;
    margin: 1vmax;
    border-radius: 30px;
    animation: contactFormBtn 1s ease-in-out forwards 1s;
    background-color: #9580ff;
    color: #ffffff;
    transition: all 0.5s;
}

.loginForm>div>button:hover{
    background-color: #808986;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover {
    background-color: inherit !important;
}
button:active {
    -webkit-tap-highlight-color: transparent !important;
}
@media screen and (max-width: 600px) {
    .loginContainer{
        width: 100%;
        border-radius: 0;
    }

    .loginForm {
        border-radius: 0;
    }

    .loginForm > div{
        padding: 4vw 8vw;
    }

    .loginFormInput {
        padding: 3vw 6vm;
        margin: 2vw;
    }

    .loginForm > div > button{
        padding: 3vw 6vw;
        margin: 2vw;
    }
}